@{
    ViewData["Title"] = @Localizer["Approval Line"]; //"공통코드";
    Layout = "_Iframe";
}
<section class="grid-item-wrap" style="height:calc(100vh - 44px)">
    <section class="page-search-wrap">
        <div class="tit05">@Localizer["Approval Line"]</div>
    </section>
</section>