<!DOCTYPE html>
<head>
    <title>클린룸 시험방</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
    <base target="_self" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8,IE=EmulateIE9"/>
    <link rel="stylesheet" type="text/css" href="/css/ext-all.css">
    <link rel="stylesheet" href="/css/default2.css" type="text/css">
    <!-- jQuery -->
    <script type="text/javascript" src="/js/old/jquery.js"></script>
    <script type="text/javascript" src="/js/old/jquery.validate.js"></script>
    <script type="text/javascript" src="/js/old/utils.selector.js"></script>
    <script type="text/javascript" src="/js/old/utils.utility.js"></script>
    <!-- ExtJS -->
    <script language="javascript" src="/js/old/ext-base.js"></script>
    <script language="javascript" src="/js/old/ext-all.js"></script>
    <script language="javascript" src="/js/old/ext-lang-ko.js" charset="utf-8"></script>

    <script language="javascript" src="/js/old/extjs-Object.js" charset="utf-8"></script>
    <script language="javascript" src="/js/old/extjs-function.js" charset="utf-8"></script>
    <script language="javascript" src="/js/old/util.js" charset="utf-8"></script>

    <script language="javascript" src="/js/old/DateField.js" charset="utf-8"></script>
    <script language="javascript" src="/js/old/DatePicker.js" charset="utf-8"></script>
    <script language="javascript" src="/js/old/EditorGrid.js" charset="utf-8"></script>
    <script language="javascript" src="/js/old/Checkbox.js" charset="utf-8"></script>
    <script language="javascript" src="/js/old/CheckboxGroup.js" charset="utf-8"></script>
    <script language="javascript" src="/js/old/CheckColumn.js"></script>
</head>
<body class="contents" style="overflow: hidden" oncontextmenu="return false" onselectstart="return false" ondragstart="return false" onkeydown="return false">
@RenderBody()
</body>
</html>
