<div id="privacy2" class="dialog">
    <div class="pop-item-wrap">
        <div class="pop-header-wrap">
            <div class="ptit">@Localizer["DB GlobalChip Privacy Policy"]</div>
            <a href="javascript:void(0)"><img src="/images/ico/ico-close.svg" alt='@Localizer["Close"]' /></a>
        </div>
        <div class="pop-cont-wrap scrolls">
            <div class="agree-desc-wrap">
                <dl>
                    <dt>DB GlobalChip 출입관리시스템 개인정보 처리 방침</dt>
                    <dd>DB GlobalChip(이하’회사’)은 개인정보보호법에 따라 이용자의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다. 회사는 개인정보처리방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.
                        본 방침은 2023년 00월 00일부터 시행됩니다.
                    </dd>
                    <dt>1. 개인정보의 처리목적 및 수집항목</dt>
                    <dd>
                        <div class="subj">가.수집항목</div>
                        <table aria-label="">
                            <tr>
                                <th>수집시점</th>
                                <th>수집항목</th>
                                <th>선 택</th>
                            </tr>
                            <tr>
                                <td>방문신청</td>
                                <td class="al">소속사 명,성명,생년월일,성별,휴대전화</td>
                                <td>차량번호</td>
                            </tr>
                            <tr>
                                <td>안전교육 신청</td>
                                <td class="al">소속사 명,성명,생년월일,성별,휴대전화</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>인원출입증 신청</td>
                                <td class="al">[내국인]소속사명,성명,생년월일,성별,휴대전화,전화번호,주소,메일
                                    <br />[외국인]소속사명,성명,생년월일,성별,휴대전화,전화번호,주소,메일
                                    국적,체류자격,체류기간
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>차량출입증 신청</td>
                                <td class="al">소속사 명,성명,생년월일,성별,휴대전화,전화번호,주소
                                    <br />메일 주소, 차량등록증
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                        <div class="subj">나.개인정보 수집방법</div>
                        <ul>
                            <li>회사는 홈페이지 통한 사용자 입력 방법으로 개인정보를 수집하며,경우에 따라 출력된 형태의 종이문서 혹은 이메일과 Fax로 일부 정보를 수집할 수도 있습니다.</li>
                        </ul>
                        <div class="subj">다.처리목적</div>
                        <ul>
                            <li>방문자 본인확인 및 안내문(SMS 또는 e-mail)발송, 방문 이력 및 웹사이트를 통한 접속/신청 이력 확인</li>
                            <li>소속 업체 확인 및 방문자와 소속업체와의 관계 확인</li>
                            <li>방문 신청에 대한 허용/불허 판단,안전교육,방문 기준 관련 법규준수 여부 확인 등 관리</li>
                            <li>방문 이력 및 회사 출입관리시스템을 통한 신청 이력 확인</li>
                            <li>출입증 발급 여부 판단 및 출입 권한 관리</li>
                            <li>안전교육 시 회사 규정에 적합여부 판단</li>
                            <li>출입관리시스템을 사용하는 사용자의 원활한 서비스 제공</li>
                        </ul>
                    </dd>
                    <dt>2. 개인정보의 제3자 제공</dt>
                    <dd>회사는 개인정보를 “개인정보의 처리목적 및 수집항목”에서 고지한 범위 내에서 사용하며, 정보주체의 사전 동의 없이는 동 범위를 초과하여 이용하거나 원칙적으로 개인정보를 외부에 공개하지 않습니다.다만,아래의 경우는 예외로 합니다.
                        <ul>
                            <li>정보주체가 사전에 동의한 경우</li>
                            <li>법령의 규정에 의거하거나,수사 목적으로 정해진 절차와 방법에 따라 기관의 요구가 있는 경우</li>
                        </ul>
                    </dd>
                    <dt>3. 개인정보처리의 위탁</dt>
                    <dd>
                        회사는 원활한 개인정보 업무처리를 위해 다음과 같이 개인정보 처리 업무를 위탁하고 있습니다.
                        <table aria-label="">
                            <tr>
                                <th>위탁내용</th>
                                <th>수탁업체</th>
                            </tr>
                            <tr>
                                <td>출입증 발급 및 출입관리시스템 관리</td>
                                <td>㈜에스원, ㈜빌텍,금아데이타테크㈜</td>
                            </tr>
                            <tr>
                                <td>사내 전산시스템관리</td>
                                <td>㈜DB Inc.,</td>
                            </tr>
                        </table>
                        위탁 업무의 내용이나 수탁자가 변경될 경우에는 지체없이 개인정보 처리방침을 통하여 공개하도록 하겠습니다.
                    </dd>
                    <dt>4.개인정보의 이용 및 보유기간</dt>
                    <dd>회사의 정보보호를 위해 보존할 필요가 있는 경우 회사는 고객의 개인정보를 보관합니다.이 경우 회사는 보관하는 정보를 그 보관의 목적으로만 이용합니다.
                        <ul>
                            <li>보존정보: 방문 이력 및 출입증 발급 이력 정보</li>
                            <li>보유근거: 회사 내부정책에 의함</li>
                            <li>보존기간: 회원탈퇴 및 철회 요청 시까지 (단,2년 연속 활동하지 않은 정보 주체의 개인정보 폐기)</li>
                        </ul>
                    </dd>
                    <dt>5. 개인정보의 파기 및 방법</dt>
                    <dd>회사는 출입관리시스템에서 수집된 개인정보의 보유기간이 경과하거나 개인정보의 처리 목적이 달성되는 등개인정보가 불필요하게 되었을 때에는, 지체없이 그 개인정보를 재생이 불가능한 방법으로 즉시 파기하며 개인정보가 제3자에게 제공된 경우에는 제3자에게도 파기하도록 지시합니다.
                        <br /><br />다만,이와 같은 파기 사유가 발생되었음에도 불구하고 그 관계 법령에 따라 정보주체의 개인정보를 보존해야 하는 경우에는 해당 개인정보를 별도의 DB로 옮기거나 보관장소를 달리하여 보존하는 등 다른 개인정보와 분리하여 저장관리 합니다.
                        <br /><br />개인정보 파기의 절차 및 방법은 다음과 같습니다.
                        <ul>
                            <li>파기절차: 파기 사유가 발생한 개인정보는 회사의 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라 일정기간 저장된 후 파기됩니다.별도 데이터베이스로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유되는 이외이 다른 목적으로 이용되지 않습니다.</li>
                            <li>파기절차: 파기 사유가 발생한 개인정보는 회사의 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라 일정기간 저장된 후 파기됩니다.별도 데이터베이스로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유되는 이외이 다른 목적으로 이용되지 않습니다.</li>
                        </ul>
                    </dd>
                    <dt>6. 정보주체 권리의무 및 그 행사방법</dt>
                    <dd>
                        <ul>
                            <li>정보주체는 회사에 대해 언제든지 개인정보 열람,정정,삭제, 정지 요구 등을 행사할 수 있습니다.</li>
                            <li>권리 행사는 회사에 대해 개인정보 보호법시행령 제41조 제1항에 따라 서면,전자우편,모사전송(FAX)등을 통하여 하실 수 있으며 회사는 이에 대해 지체 없이 조치하겠습니다.</li>
                            <li>권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다.이 경우 개인정보 보호법 시행규칙 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.</li>
                            <li>개인정보 열람 및 처리 정지 요구는 개인정보호법 제35조 제5항,제37조 제2항에 의하여 정보주체의 권리가 제한 될 수 있습니다.</li>
                            <li>개인정보 열람 및 처리 정지 요구는 개인정보호법 제35조 제5항,제37조 제2항에 의하여 정보주체의 권리가 제한 될 수 있습니다.</li>
                            <li>회사는 정보주체 권리에 따른 열람의 요구, 정정삭제,처리정지의 요구 시 열람 등 요구를 한 자가 본인이거나 정당한 대리인인지를 확인합니다.</li>
                        </ul>
                    </dd>
                    <dt>7.개인정보의 안전성 확보 조치</dt>
                    <dd>회사는 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다.
                        <ul>
                            <li>관리적 조치: 내부관리계획 수립, 시행,정기적 직원 교육 등</li>
                            <li>기술적 조치: 개인정보처리시스템 등의 접근권한 관리,접근통제시스템 설치,고유식별정보 등의 암호화</li>
                            <li>물리적 조치: 개인정보를 저장하고 있는 서버실보관실 등의 접근통제</li>
                        </ul>
                    </dd>
                    <dt>8. 개인정보 자동 수집 장치의 설치운영 및 거부에 관한 사항</dt>
                    <dd>
                        <ul>
                            <li>회사는 개별적인 맞춤서비스를 제공하기 위해 이용 정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)를 사용합니다. </li>
                            <li>쿠키는 웹사이트를 운영하는데 이용되는 서버(http)가 이용자의 컴퓨터 브라우저에게 보내는 소량의 정보이며 이용자들의 컴퓨터의 하드디스크에 저장되기도 합니다.
                                <br />①쿠키의 사용 목적:이용자가 방문한 각 서비스와 웹 사이트들에 대한 방문 및 이용형태,보안접속 여부 등을 파악하여 이용자에게 최적화된 정보 제공을 위해 사용됩니다.
                                <br />②쿠키의 설치운영 및 거부는 웹브라우저 상단의 도구>인터넷 옵션>개인정보 메뉴의 옵션 설정을 통해 쿠키 저장을 거부 할 수 있습니다.다만,쿠키 저장을 거부할 경우 맞춤형 서비스 이용에 어려움이 발생할 수 있습니다.

                            </li>
                        </ul>
                    </dd>
                    <dt>9. 개인정보보호 책임자</dt>
                    <dd>회사는 개인정보 처리에 관한 업무를 총괄해서 책임지고,개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보보호책임자를 지정하고 있습니다.
                        <ul>
                            <li>개인정보보호 책임자:
                                <br />①성명: 하주찬
                                <br />②직책: 상무
                                <br />③연락처: 032-680-4011 / juchan.ha@dbhitek.com / 032-680-4800(Fax)
                            </li>
                            <li>개인정보보호 담당부서
                                <br />①부서명: 인사팀
                                <br />②담당자: 이정환 선임
                                <br />③연락처: 032-680-4095 / junghwan.lee1@dbhitek.com / 032-680-4800(Fax)
                            </li>
                        </ul>
                    </dd>
                    <dt>10. 정보주체의 권익침해 대한 구제방법</dt>
                    <dd>아래의 기관은 회사와는 별개의 기관으로서,회사의 자체적인 개인정보 불만처리,피해구제 결과에 만족하지 못하시거나 보다 자세한 도움이 필요하시면 문의하여 주시기 바랍니다.
                        <ul>
                            <li>개인정보 침해신고센터 (http://privacy.kisa.or.kr / 국번없이 118)</li>
                            <li>대검찰청 사이버수사과 (http://.spo.go.kr / 국번없이 1301)</li>
                            <li>경찰청 사이버수사국 (http://ecrm.cyber.go.kr / 국번없이 182)</li>
                        </ul>
                    </dd>
                    <dt>1. 방문객 방문신청 시 동의 항목</dt>
                    <dd>개인정보 수집 및 이용 동의
                        <div class="subj">1. 개인정보 수집 이용 목적</div>
                        <ul>
                            <li>방문 예약 및 출입관리,반출인 관리,교육 콘텐츠 제공,안전관리 등의 서비스 제공과 관련한 목적</li>
                        </ul>
                        <div class="subj">2. 개인정보 수집 항목</div>
                        <ul>
                            <li>소속사 명,성명,생년월일,성별,휴대전화</li>
                        </ul>
                        <div class="subj">3. 개인정보 보유 및 이용기간</div>
                        <ul>
                            <li>보유 및 이용 기간: 회원탈퇴 및 철회 요청 시 까지 보유</li>
                            <li>연속 2년 동안 활동하지 않은 정보 주체의 개인정보 폐기</li>
                        </ul>
                        <div class="subj">4.개인정보처리 위탁</div>
                        <ul>
                            <li>회사는 원활한 개인정보 업무처리를 위해 다음과 같이 개인정보 처리 업무를 위탁하고 있습니다.</li>
                        </ul>
                        <table aria-label="">
                            <tr>
                                <th>위탁내용</th>
                                <th>수탁업체</th>
                            </tr>
                            <tr>
                                <td>출입증 발급 및 출입관리시스템 관리</td>
                                <td>㈜에스원, ㈜빌텍,금아데이타테크㈜</td>
                            </tr>
                            <tr>
                                <td>사내 전산시스템관리</td>
                                <td>㈜DB Inc.,</td>
                            </tr>
                        </table>
                        <ul>
                            <li>위탁 업무의 내용이나 수탁자가 변경될 경우에는 개인정보 처리방침을 통하여 공개하도록 하겠습니다.</li>
                        </ul>
                        <div class="subj">5. 개인정보 수집 동의 거부의 권리</div>
                        <ul>
                            <li>개인정보 수집 이용에 대해 동의를 거부할 권리가 있으나, 거부 시 출입관리시스템 서비스 제한 발생</li>
                        </ul>
                        <!--□ 동의           □ 미동의-->
                    </dd>
                    <dt>1. 방문객 방문신청 시 동의 항목</dt>
                    <dd>&lt;보안서약서&gt;
                        본인은 DB HiTek(이하 ‘회사’) 출입 후 취득한 다음과 같은 회사의 영업비밀을 제3자에게 공개하거나 누설치 아니하며 창업이나 경쟁관계사 및 기타 제3자를 위하여 절대 사용하지 않을 것을 서약합니다.
                        <br />1. 제품의 생산 방법 등기술 비밀에 관한 사항
                        <br />2. 제품의 판매방법등 영업비밀에 관한 사항
                        <br />3. 인사, 조직, 재무 등관리 비밀에 관한 사항
                        <br />4. 연구개발 및 교육훈련등에 관한 비밀 사항
                        <br />5. 타사와의 제휴 사업에 관한 비밀 사항
                        <br />6. 사업계획 및 연구개발 계획에 관한 비밀 사항
                        <br />7. 그룹사, 상주협력사등 관련 회사와의 사업 정보에 관한 비밀 사항
                        <br />8. 회사에서 승인 받지 않은 통신망(ADSL, USB Modem, 무선 AP, 테더링 등)및 정보저장 매체(USB, CD/DVD RW, 외장 HDD)을 회사 내에서 사용하지 않겠으며,보안시스템을 우회하는 H/W, S/W와 불법소프트웨어 등 유해 프로그램을 설치,사용하지 않겠습니다.
                        <br />9. 회사에서 허용된 정보시스템을 통해서만 정보자산을 송수신하겠으며 외부 통신망을 통해 송수신되는 모든 정보자산을 모니터링 및 유출탐지하고 있음을 인지하고 이에 동의하며,조사 및 분석에 적극 협조 하겠습니다.
                        <br />10. 정보저장매체 (스마트폰,노트북,테블릿 등)는 사전에 반드시 보안점검을 통해 입문해야 하며 이를 위반한 경우에는 회사 규정에 의거하여 보안 경위서 작성 및 조사 및 분석에 적극 협조하겠습니다.
                        <br />11. 본인은 회사에서 제시하는 보안 지침 및 규정의 준수사항을 반드시 이행 할 것을 서약하며,이를 위반하여 회사의 영업비밀이 유출되어 손해가 발생될 시 본인은 회사에 금전적 손해배상 및 어떠한 민, 형사상의 법적 조치도 감수할 것을 서약합니다.
                        <!--□ 동의           □ 미동의-->
                    </dd>
                    <dt>1. 방문신청 및 안전교육 신청 시 동의 항목</dt>
                    <dd>&lt;방문객 필수 동영상 교육&gt;
                        DB HiTek(이하 ‘회사’) 방문 시 방문객 안전을 도모하고 보안의식 강화를 위한 동영상 교육을 시행합니다.회사 출입관리시스템을 통해 방문신청 및 안전교육을 신청 시 해당 동영상은 필수로 수강해야 합니다.
                        <br />해당 교육 미 수강시 방문신청 및 안전교육 신청에 제한이 있사오니 참고하여 주시기 바랍니다.
                        <br />1) 교육대상: 방문객 및 안전교육 대상자 전원
                        <br />2) 유효기간: 1년 (1년 이내 재방문 시신원만 확인)
                        <br />3) 교육방법: 모바일 또는 PC를 활용한 온라인 시청
                        <!--□ 동의           □ 미동의-->
                    </dd>
                    <dt>2. 인원출입증 재발급 신청 동의 [임직원,상주협력사,비상주협력사]</dt>
                    <dd>DBHiTek (이하 '회사')은 출입관리시스템을 통한 출입증 재발급 시 아래와 같이 개인정보를 수집하고 있습니다.
                        <div class="subj">1. 수집항목</div>
                        <ul>
                            <li>인원출입증 재발급 신청 시
                                <br />①[내국인]소속사 명,성명,생년월일, 성별,휴대전화,전화번호,주소, 메일주소
                                <br />②[외국인]소속사 명,성명,생년월일, 성별,휴대전화,전화번호,주소, 메일주소,국적, 체류자격, 체류기간
                            </li>
                            <li>개인정보 수집 목적
                                <br />①[내국인]회사 내부 방침 / 출입증 발급 관리
                                <br />②[외국인]회사 내부 방침/ 출입증 발급 관리 / 체류자격 및 불법체류자 통제관리등

                            </li>
                        </ul>
                        <div class="subj">2. 수집한 개인정보 취급 위탁</div>
                        <ul>
                            <li>회사는 원활한 개인정보 업무처리를 위해 다음과 같이 개인정보 처리 업무를 위탁하고 있습니다.</li>
                        </ul>
                        <table aria-label="">
                            <tr>
                                <th>위탁내용</th>
                                <th>수탁업체</th>
                            </tr>
                            <tr>
                                <td>출입증 발급 및 출입관리시스템 관리</td>
                                <td>㈜에스원, ㈜빌텍,금아데이타테크㈜</td>
                            </tr>
                            <tr>
                                <td>㈜에스원, ㈜빌텍,금아데이타테크㈜</td>
                                <td>㈜DB Inc.,</td>
                            </tr>
                        </table>
                        <ul>
                            <li>위탁 업무의 내용이나 수탁자가 변경될 경우에는 개인정보 처리방침을 통하여 공개하도록 하겠습니다.</li>
                        </ul>
                        <div class="subj">3. 개인정보 보유기간</div>
                        개인정보는 원칙적으로 개인정보 수집 및 이용목적이 달성되면 지체 없이 파기 합니다. 단, 다음의 정보에 대해서는 아래의이유로 명시한 기간 동안 보존합니다.
                        <ul>
                            <li>보존항목: 인원출입증 신청 시 작성한 제반 사항</li>
                            <li>보존이유: 회사 내부 방침</li>
                            <li>보존기간: 개인 요구시 즉시 파기</li>
                        </ul>
                        <div class="subj">4. 개인정보 처리방침</div>
                        회사는 개인정보보호법 제30조에 따라 이용자의 개인정보 보호 및 권익을 보호하고개인정보와 관련된 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다. '출입관리시스템'은개인정보 처리방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.
                        <!--□ 동의           □ 미동의-->
                    </dd>
                    <dt>2. 차량출입증 재발급 신청 동의 [임직원,상주협력사,비상주협력사]</dt>
                    <dd>
                        DBHiTek (이하 '회사')은 출입관리시스템을 통한 출입증 재발급 시 아래와 같이 개인정보를 수집하고 있습니다.
                        <div class="subj">1. 수집항목</div>
                        <ul>
                            <li>차량출입증 신청 시
                                <br />①소속사 명,성명,생년월일,성별,휴대전화,전화번호,주소,메일 주소,차량등록증
                            </li>
                            <li>개인정보 수집 목적
                                <br />①회사 내부 방침 / 출입증 발급 관리 / 차량 사고 예방 및 안전 관리 등
                            </li>
                        </ul>
                        <div class="subj">2. 수집한 개인정보 취급 위탁</div>
                        <ul>
                            <li>회사는 원활한 개인정보 업무처리를 위해 다음과 같이 개인정보 처리 업무를 위탁하고 있습니다.</li>
                        </ul>
                        <table aria-label="">
                            <tr>
                                <th>위탁내용</th>
                                <th>수탁업체</th>
                            </tr>
                            <tr>
                                <td>출입증 발급 및 출입관리시스템 관리</td>
                                <td>㈜에스원, ㈜빌텍,금아데이타테크㈜</td>
                            </tr>
                            <tr>
                                <td>사내 전산시스템관리</td>
                                <td>㈜DB Inc.,</td>
                            </tr>
                        </table>
                        <ul>
                            <li>위탁 업무의 내용이나 수탁자가 변경될 경우에는 개인정보 처리방침을 통하여 공개하도록 하겠습니다.</li>
                        </ul>
                        <div class="subj">3. 개인정보 보유기간</div>
                        개인정보는 원칙적으로 개인정보 수집 및 이용목적이 달성되면 지체 없이 파기 합니다. 단, 다음의 정보에 대해서는 아래의이유로 명시한 기간 동안 보존합니다.
                        <ul>
                            <li>보존항목: 차량출입증 신청 시 작성한 제반 사항</li>
                            <li>보존이유: 회사 내부 방침</li>
                            <li>보존기간: 개인 요구시 즉시 파기</li>
                        </ul>
                        <div class="subj">4. 개인정보 처리방침</div>
                        회사는 개인정보보호법 제30조에 따라 이용자의 개인정보 보호 및 권익을 보호하고개인정보와 관련된 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다. '출입관리시스템'은개인정보 처리방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.
                        <!--□ 동의           □ 미동의-->
                    </dd>
                    <dt>3. 안전교육 신청 [비상주 업체]</dt>
                    <dd>DBHiTek (이하 '회사')은 출입관리시스템을 통한 안전교육 신청 시 아래와 같이 개인정보를 수집하고 있습니다.
                        <div class="subj">1.수집항목</div>
                        <ul>
                            <li>안전교육 신청 시
                                <br />①소속사 명,성명,생년월일,성별,휴대전화
                            </li>
                            <li>개인정보 수집 목적
                                <br />①회사 내부 방침 / 안전 교육 관리 / 안전사고 관리 등
                            </li>
                        </ul>
                        <div class="subj">2. 수집한 개인정보 취급 위탁</div>
                        <ul>
                            <li>회사는 원활한 개인정보 업무처리를 위해 다음과 같이 개인정보 처리 업무를 위탁하고 있습니다.</li>
                        </ul>
                        <table aria-label="">
                            <tr>
                                <th>위탁내용</th>
                                <th>수탁업체</th>
                            </tr>
                            <tr>
                                <td>출입증 발급 및 출입관리시스템 관리</td>
                                <td>㈜에스원, ㈜빌텍,금아데이타테크㈜</td>
                            </tr>
                            <tr>
                                <td>사내 전산시스템관리</td>
                                <td>㈜DB Inc.,</td>
                            </tr>
                        </table>
                        <ul>
                            <li>위탁 업무의 내용이나 수탁자가 변경될 경우에는 개인정보 처리방침을 통하여 공개하도록 하겠습니다.</li>
                        </ul>
                        <div class="subj">3. 개인정보 보유기간</div>
                        개인정보는 원칙적으로 개인정보 수집 및 이용목적이 달성되면 지체 없이 파기 합니다. 단, 다음의 정보에 대해서는 아래의이유로 명시한 기간 동안 보존합니다.
                        <ul>
                            <li>보존항목: 차량출입증 신청 시 작성한 제반 사항</li>
                            <li>보존이유: 회사 내부 방침</li>
                            <li>보존기간: 개인 요구시 즉시 파기 </li>
                        </ul>
                        <div class="subj">4. 개인정보 처리방침</div>
                        회사는 개인정보보호법 제30조에 따라 이용자의 개인정보 보호 및 권익을 보호하고개인정보와 관련된 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다. '출입관리시스템'은개인정보 처리방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
